@charset "UTF-8";
#nav {
            font-family:"Courier New", Courier, monospace;
            border-top: solid 1px #800000 ;
	        border-bottom: solid 1px #ffe4e1;
	        height: 60px;
	        background: #b22222;
			-moz-border-radius: 10px  
			-webkit-border-radius: 10px;  
			border-radius: 10px;  
			background: -moz-linear-gradient(top, #b22222, #8b0000);  
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b22222), to(#8b0000));
			-moz-box-shadow:inset 0px 0px 1px #edf9ff;  
			-webkit-box-shadow:inset 0px 0px 1px #edf9ff;  
			box-shadow:inset 0px 0px 1px #edf9ff;  
            }
            
		#article h1 {
			color: #8b0000;
			}
			
		#nav_blank {
			height: 20px;
			}
			
        #nav ul{
	        margin-top:10px;
	        list-style: none;
            }
       
        #nav ul li {    
	        display: inline-block;
			float:left;  
    		display:block;  
    		text-align:center;  
    		position:relative;  
    		padding: 4px 10px 4px 10px;  
    		margin-right:30px;  
    		border:none;
			-moz-border-radius: 5px 5px 0px 0px;  
			-webkit-border-radius: 5px 5px 0px 0px;  
			border-radius: 5px 5px 0px 0px;  
            }
            
        #nav a {
			padding: 7px 30px 7px 30px;
        	color: #FFFFFF;
	        font-size: 2em;
	        text-decoration: none;
	        text-shadow: 1px 1px 2px #CECECE;
            }/* CSS Document */
			
			
		#nav a:hover {
            background-color:rgba(205,105,30,.8);
	        /*-webkit-transition-duration: .2s;*/
			text-shadow: 1px 1px 1px #000;  
            }

		.dropdown1{
			margin:4px auto;
    		position:absolute;  
   			left:-999em; /* Hides the drop down */  
    		text-align:left;  
    		padding:10px 5px 10px 5px;  
    		/*border:1px solid #777777;*/  
    		border-top:none;  
    		background:#F4F4F4;  
    		background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);  
    		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));  
  			-moz-border-radius: 0px 0px 5px 5px;  
    		-webkit-border-radius: 0px 0px 5px 5px;  
    		border-radius: 0px 0px 5px 5px;
			width: 154px;  
			}

		#nav li:hover .dropdown1 {  
    		left:10px;top:auto;  
			}  

.col{  
	padding:5px 0px 5px 0px;
    display:inline;  
    float: left;  
    position: relative;  
    margin-left: 5px;  
    margin-right: 5px; 
	width:150px; 
	text-align:center;
}  

.col a:hover {
	background-color:rgba(205,105,30,.8);  
	text-shadow: 1px 1px 1px #000; 
	}

		
			
#class_name {
	width: 83%;
	font-size: 30px;
	color:#FFFFFF;
	height: 50px;
	padding-left:2em;
	font-weight:500;
	background-color: rgba(102,0,0,.6);
	text-align:center;
	left: 5%;
	
	}


body {
	background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
}

#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}

body {
	background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
}

#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}

.about p {
	font-size: 16px;
	}

#article p {
	font-size: 16px;
	}

.about h1 {
	color: #8b0000;
	}
	
#footer {
            font-family:"Courier New", Courier, monospace;
            border-top: solid 1px #800000 ;
	        border-bottom: solid 1px #ffe4e1;
	        height: 70px;
	        background: #b22222;
			background: -moz-linear-gradient(top, #b22222, #8b0000);  
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b22222), to(#8b0000));
			-moz-box-shadow:inset 0px 0px 1px #edf9ff;  
			-webkit-box-shadow:inset 0px 0px 1px #edf9ff;  
			box-shadow:inset 0px 0px 1px #edf9ff;
    		text-align:center; 
			font-size: 14px;
        	color: #FFFFFF;
	        text-decoration: none;
	        text-shadow: 1px 1px 2px #CECECE;
			margin-bottom: 20px;
            }
	